.a{
    font-size: small;
    text-align: center;
}
.b{
    font-size: x-small;
    text-align: center;
}
.c{
    font-size: xx-small;
    text-align: center;
}
img{
    width: 400px;
    height: 200px;
}
h1{
    font-style: italic;
    font-weight: bold;
}
div{
    background-color: rgb(129, 113, 113);   
    border-bottom: bisque;
}
